/* .list-bg {
    background: rgb(249, 250, 255);
    padding: 10px;
} */
.list-item {
    display:flex;
    align-items: center;
    background:white;
    border-radius: 10px;
    padding:20px;
    margin-bottom: 5px;
    box-shadow: rgb(224, 224, 224) 0 2px 4px 0;
}
.list-item h4 {
    font-size: 20px;
    font-weight:800;
    margin: 5px 0 25px 0;
}
.list-item p {
    color:grey;
    margin: 5px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.list-item p:hover {
    text-decoration: underline;
}
.list-item img {
    width:300px;
    border-radius: 45%;
    box-shadow: 5px 10px 20px 2px pink;
    margin:2rem;
    opacity: 70%;
}
.list-item img:hover {
    opacity: 100%;
}

.write-btn {
    /* background:lightseagreen; */
    background:rgb(252,117,98);
    padding:10px;
    font-size: 1rem;
    color:white;
    border-radius: 10px;
    margin-top:2rem;
    float:right;
}